/* Подключение шрифтов */
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: wrap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: wrap;
}

/* Общие стили */
html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;

  background-color: #ffffff;
  color: #000000;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

 /* Стилизация шапки */
.page-header {
  padding: 0 70px;

  display: flex;
  justify-content: space-between;
}

.header-row-left {
  display: flex;
  width: 640px;
}

.header-row-right {
  display: flex;
  width: 300px;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
}

.link-button {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
  box-sizing: border-box;
}

/* Стилизация main блока */
.main-container {
  flex-grow: 1;
}

/* Стилизация hero блока */
.hero {
  background-image: url("../images/divider.svg"), url("../images/hero-background.jpg");
  background-repeat: no-repeat,no-repeat;
  background-size: 100% auto, 100% auto;
  background-position: bottom center, center;
  background-color: #797b84;
}

.hero-img {
  display: block;
  margin: 0 auto;
}

/* Стилизация блока преимуществ */

.advantages-container {
  padding: 69px 275px;
}

.container-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
}

.advantages-title {
  margin-bottom: 25px;
}

.advantages-description {
  width: 655px;
}

.container-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 0;

  color: #333333;
  text-align: center;
}

.advantages-list {
  padding: 0;
  margin: 0;

  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  padding: 113px 85px;

  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-title {
  margin: 0 auto;
  margin-bottom: 62px;
  width: 175px;

  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-description {
  color: #333333;

  margin: 0;
  width: 230px;
}

.advantages-item-with-img {
  width: 1200px;
  display: flex;
}

.advantages-item-container {
  background-color: #82B3D3;
  color: #ffffff;

  padding: 102px 85px;
  box-sizing: border-box;
  width: 400px;
  margin: 0;
  text-align: center;
}

.advantages-item-with-img .advantages-item-description {
  color: #ffffff;
}

/* Стилизация блока сервисов */
.services-container {
  padding: 64px 348px;
}
.services-title {
  margin-bottom: 20px;
}

.services-list {
  display: flex;

  padding: 0;
  margin: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
  box-sizing: border-box;
  padding: 81px 85px;

  background-color: rgba(131, 179, 211, 0.12);
  text-align: center;
}

.services-item-food {
  background-color: #ffffff;
}

.services-item-title {
  margin: 0 0 30px;

  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
}

.services-item-description {
  margin: 0;

  color: #333333;
}

.find-hotel {
  box-sizing: border-box;
  padding: 96px 304px;
}

.find-hotel-title {
  margin-bottom: 20px;
}

.find-hotel-description {
  margin-bottom: 54px;
}

.find-hotel-link {
  width: 375px;

  margin: 0 auto;
  padding: 8px 50px;
}
/* Стилизация блока подписки */
.subscribe {
  background-color: #ffffff;
  color: #000000;

  padding: 96px 258px 104px;
  box-sizing: border-box;
  text-align: center;
}

.subscribe-with-background-img {
  background-image: url("../images/subscribe-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;

  background-color: #87929b;
  color: #ffffff;
}

.subscribe-title {
  margin: 0 0 20px;

  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-text {
  margin: 0 0 54px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-button {
  display: inline-block;
  width: 235px;
  box-sizing: border-box;
  padding: 8px 50px;
  margin: 0;

  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #82B3D3;
  color: #ffffff;
}

/* Стилизация подвала */
.page-footer {
  display: flex;
  padding: 40px 40px 30px;
  align-items: center;
  box-sizing: border-box;
  height: 120px;
}

.social-media-list {
  padding: 0;
  margin: 0;
}

.footer-contacts {
  width: 720px;
  text-align: center;

  margin:0 auto;
}

.contacts-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
}

/* Стилизация фильтра каталога */
.inner-header {
  background-image: url("../images/filter-background.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #2b3d49;
  color: #ffffff;
}

.inner-header-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
}

.button {
  font-family: inherit;
  background-color: #82B3D3;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.reset-button {
  background: none;
}

/* Стилизация карточек отелей */
.catalog-hotels-title {
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.select-control {
  font-family: "PT Sans", sans-serif;
  color: #333333;
  font-weight: 400;
  font-size: 18px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
}

.card-living-type {
  color: #333333;
}

.hotel-card-price {
  color: #333333;
}

.hotel-card-rating {
  font-size: 16px;
  text-align: center;
  color: #333333;
  text-transform: uppercase;
  background-color: #F2F2F2;
}

.button.pressed-button {
  background-color: #7DB54F;
}

/* Стилизация пагинации */
.pagination-link {
  background-color: #82B3D3;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.pagination-show-more {
  font-family: inherit;
  font-size: 22px;
  font-weight: 400;
  background-color: inherit;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}
